extends layout

block header
	header
		div.container
			div.row
				div.col-xs-12.col-sm-6
					div#busca-trabajo_brand
						img(src="/images/busca_trabajo.png", alt="Busca Trabajo")
						h1 Busca Trabajo
					form(name="searchFormCond", id="searchFormCond", role="form")
						input(type="text", name="positioncond", placeholder="Puesto, Ej. Desarrollador")
						div#wrap_citycond
							select#citycond
								option Tijuana
						button.btn.btn-default Buscar

				div.col-xs-12.col-sm-6.text-right
					ul.social
						li
							a(href="#", title="Facebook", target="_blank") Facebook
					span#who-tab
						a(href="/quienes-somos", title="Quiénes somos", data-toggle="modal", data-target="#about-us") Quiénes somos >>

			.row.col-xs-12.col-sm-9
				form#searchForm(name='searchForm', role='form')
					.row.hidden-xs
						.col-xs-12.col-sm-5
							label ¿Qué puesto buscas? 2
						.col-xs-12.col-sm-5
							label ¿En qué ciudad?
						.col-xs-12.col-sm-2
					.row
						.col-xs-12.col-sm-5
							label.visible-xs ¿Qué puesto buscas?
							input(type='position', name='position', placeholder='Ej. Desarrollador')
						.col-xs-12.col-sm-4
							label.visible-xs ¿En qué ciudad?
							#wrap_city
								select#city
									option Tijuana
						.col-xs-12.col-sm-3
							button.btn.btn-default(ng-click='submit(searchForm)')| Buscar


block content
	#main_content
		.container
			h2 Ofertas recientes
			.row
				.col-xs-12.col-sm-6.col-md-4.col-lg-3
					.offer
						h3
							a(href='#', title='Ingeniero de procesos', target='_blank')
								| Ingeniero de procesos
						p.other
							a(href='#', title='Ingeniero de procesos', target='_blank')
								span Sueldo:
								| 10000
								br
								span Tipo de empleo:
								| Tiempo completo
								br
								span Empleador:
								| WELH ALLYN DE MEXICO, S.  DE R.L. DE C.V.
						ul.social
							li.facebook
								a(href='#', title='Comparte en el muro de un amigo') Facebook
						.date
							span Hoy

block about-us
	#about-us.modal.face
		.modal-dialog
			.modal-content
				.modal-header
					button.close(data-dismiss='modal', aria-hidden='true')
						| &times;
					h4.modal-title
						| ¿Quiénes somos?
				.modal-body
					p
						| We rock, <a href="http://mintitmedia.com" title="Mint IT Media" target="_blank" >Mint IT Media</a>, we just rock

block footer
	footer
		p
			| © 2010-2014 Tekipan. Powered by <a href="http://mintitmedia.com" title="Visita Mint IT Media" target="_blank">Mint</a>						



# h1= title
# p Welcome to #{title}

