extends layout

block header
	header.condensed
		.container
			.row
				.col-xs-12.col-sm-6
					#busca-trabajo_brand
						img(src='/images/busca_trabajo.png', alt='Busca Trabajo')
						h1 Busca Trabajo
					form#searchFormCond(name='searchFormCond', role='form')
						input#positioncond(type='text', name='positioncond', placeholder='Puesto, Ej. Desarrollador', ng-model="query")
						button.btn.btn-default(ng-click='search()') Buscar
				.col-xs-12.col-sm-6.text-right
					span#who-tab
						a(href='quienes-somos', title='Quiénes somos', data-toggle='modal', data-target='#about-us') Quiénes somos 
			.row
				.col-xs-12.col-sm-9
					form#searchForm(name='searchForm', role='form')
						.row
							.col-xs-12.col-sm-5
								label ¿Qué puesto buscas?
							.col-xs-12.col-sm-2
						.row
							.col-xs-12.col-sm-5
								input(type='text', name='position', placeholder='Ej. Desarrollador', ng-model="query")
							.col-xs-12.col-sm-3
								button.btn.btn-default(ng-click='search()') Buscar


block content
	#main_content
		.container
			h2 Ofertas de Trabajo en Tijuana
			#content_ofertas(masonry)
				.masonry-brick.offer(ng-repeat="oferta in ofertas", my-repeat-directive)
					h3
						a(href="{{oferta.source}}{{oferta.href}}", title="{{oferta.title}}", target='_blank')
							| {{oferta.title}}
					div
						| {{oferta.description}}
					br
					p.other
						a(href="oferta.source}}{{oferta.href}}", title="{{oferta.title}}", target='_blank')
							span Sueldo:
							| {{oferta.salary}}
							br
							span Empleador:
							| {{oferta.company}}
					.date
						span
							| {{oferta.timestamp}}

block about-us
	#about-us.modal.face
		.modal-dialog
			.modal-content
				.modal-header
					button.close(data-dismiss='modal', aria-hidden='true')
						| &times;
					h4.modal-title
						| ¿Quiénes somos?
				.modal-body
					p
						| We rock, <a href="http://mintitmedia.com" title="Mint IT Media" target="_blank" >Mint IT Media</a>, we just rock

block footer
	footer
		p © 2010-2014 Tekipan. Powered by <a href="http://mintitmedia.com" title="Visita Mint IT Media" target="_blank">Mint</a>

