doctype html
html(lang="en", ng-app='ofertaApp')
	head
		title= title
		meta(charset="utf-8")
		meta(name="author", value="http://mintitmedia.com")
		meta(name="description", value="")
		meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0")

		link(rel='stylesheet', href='/stylesheets/vendor/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/screen.css')
	body.home(ng-controller="ofertaCtrl")
		block header
		block content
		block about-us
		block footer

		script(src="/javascripts/vendor/jquery-1.11.0.min.js")
		script(src="/javascripts/vendor/bootstrap.min.js")
		script(src="/javascripts/vendor/angular.min.js")
		script(src="/javascripts/mainctrl.js")