/* ****************** FONTFACE ************** */
@font-face {
  font-family: "Oxygen_Bold";
  src: url("../fonts/oxygen_bold.eot");
  src: url("../fonts/oxygen_bold.eot?#iefix") format("embedded-opentype"), url("../fonts/oxygen_bold.woff") format("woff"), url("../fonts/oxygen_bold.ttf") format("truetype"), url("../fonts/oxygen_bold.svg#Oxygen_Bold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Arsenal_Regular";
  src: url("../fonts/arsenal.eot");
  src: url("../fonts/arsenal.eot?#iefix") format("embedded-opentype"), url("../fonts/arsenal.woff") format("woff"), url("../fonts/arsenal.ttf") format("truetype"), url("../fonts/arsenal.svg#Arsenal_Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Arsenal_Bold";
  src: url("../fonts/arsenal_bold.eot");
  src: url("../fonts/arsenal_bold.eot?#iefix") format("embedded-opentype"), url("../fonts/arsenal_bold.woff") format("woff"), url("../fonts/arsenal_bold.ttf") format("truetype"), url("../fonts/arsenal_bold.svg#Arsenal_Bold") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 38, ../sass/_base.sass */
header label, .offer h5 {
  font-family: "Oxygen_Bold", Arial, sans-serif;
  font-weight: normal;
}

/* line 42, ../sass/_base.sass */
h2, h3, h4, h5, h6, header .btn, #who-tab, #mint-button {
  font-family: "Arsenal_Regular", Verdana, sans-serif;
  font-weight: normal;
}

/* line 46, ../sass/_base.sass */
h2, .offer .date span, .other span, a.ver_completo, .modal-header h4 {
  font-family: "Arsenal_Bold", Verdana, sans-serif;
  font-weight: normal;
}

/* ****************** GENERAL ************** */
/* line 7, ../sass/screen.sass */
body, html {
  margin: 0;
  padding: 0;
}

/* line 11, ../sass/screen.sass */
body {
  background: #fefefe;
  color: #373837;
  font: 12px Verdana, Helvetica, sans-serif;
  letter-spacing: 0.03em;
  line-height: 1.3em;
}

/* line 18, ../sass/screen.sass */
body.search {
  padding: 80px 0 0;
}

/* line 22, ../sass/screen.sass */
body.home header {
  position: fixed;
  width: 100%;
}
/* line 26, ../sass/screen.sass */
body.home #main_content {
  position: relative;
  top: 60px;
  z-index: 5;
}

/* line 31, ../sass/screen.sass */
#main_content {
  background: #FEFEFE;
  min-height: 660px;
  padding: 0 5px;
}

/* line 36, ../sass/screen.sass */
h1 {
  font-size: 20px;
}

/* line 39, ../sass/screen.sass */
h2, h3, h4, h5, h6 {
  font-size: 18px;
  font-weight: normal;
  color: #316eab;
  line-height: 1.1em;
  text-transform: none;
}

/* line 47, ../sass/screen.sass */
h2 {
  font-size: 30px;
  font-weight: normal;
  color: #2e2e2f;
  margin-bottom: 7px;
  text-transform: none;
}

/* line 57, ../sass/screen.sass */
a:hover {
  text-decoration: none;
}

/* line 61, ../sass/screen.sass */
input {
  background: #ffffff;
  border: none;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font-size: 13px;
  margin: 0 0 15px;
  padding: 7px 15px;
  width: 100%;
}

/* line 70, ../sass/screen.sass */
.social {
  padding: 0;
  margin: 15px 0 0;
  text-align: right;
}
/* line 75, ../sass/screen.sass */
.social li {
  display: inline-block;
  height: 22px;
  margin: 0 0 0 20px;
  width: 22px;
}
/* line 81, ../sass/screen.sass */
.social a {
  background: url(../images/general_sprite.png) 0 0 no-repeat;
  display: block;
  height: 100%;
  line-height: 5000em;
  overflow: hidden;
}
/* line 88, ../sass/screen.sass */
.social a:hover, .social a:focus, .social a:active {
  background-position: 0 -48px;
}
/* line 93, ../sass/screen.sass */
.social .twitter a {
  background-position: -32px 0;
}
/* line 96, ../sass/screen.sass */
.social .twitter a:hover, .social .twitter a:focus, .social .twitter a:active {
  background-position: -32px -48px;
}

/* line 99, ../sass/screen.sass */
#msg {
  position: absolute;
  right: 130px;
  top: 6px;
  font-weight: bold;
}

/* --------------- Header--------------- */
/* line 107, ../sass/screen.sass */
header {
  background: url(../images/banner.jpg) center top no-repeat;
  background-size: cover;
  padding: 35px 0 40px;
}
/* line 112, ../sass/screen.sass */
header form {
  background: rgba(0, 0, 0, 0.3);
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  margin: 0;
  padding: 17px 15px;
}
/* line 118, ../sass/screen.sass */
header label {
  color: #fcef5a;
  font-size: 14px;
  letter-spacing: 0.03em;
  margin: 0 0 10px;
}
/* line 125, ../sass/screen.sass */
header .btn {
  background: #316eab;
  border: none;
  color: #e5e5e4;
  font-size: 14px;
  text-transform: uppercase;
}
/* line 133, ../sass/screen.sass */
header .btn:hover {
  background: #4587ca;
  color: #e5e5e4;
}

/* line 137, ../sass/screen.sass */
#wrap_city {
  background: #fff url(../images/general_sprite.png) right -334px no-repeat;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  display: inline-block;
  height: 30px;
  margin: 0;
  overflow: hidden;
  vertical-align: top;
  width: 100%;
}
/* line 147, ../sass/screen.sass */
#wrap_city:hover {
  background-position: right -382px;
}
/* line 150, ../sass/screen.sass */
#wrap_city select {
  background: transparent;
  border: none;
  height: 100%;
  margin: 0;
  padding: 5px;
  width: 115%;
  -webkit-appearance: none;
}

/* line 160, ../sass/screen.sass */
header.condensed {
  background: #343434;
  padding: 5px 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}
/* line 168, ../sass/screen.sass */
header.condensed input {
  margin: 0;
}
/* line 171, ../sass/screen.sass */
header.condensed #who-tab {
  top: auto;
  bottom: -7px;
}
/* line 175, ../sass/screen.sass */
header.condensed #busca-trabajo_brand, header.condensed #searchFormCond {
  display: inline-block;
  position: relative;
}
/* line 179, ../sass/screen.sass */
header.condensed #busca-trabajo_brand {
  width: 20%;
}
/* line 182, ../sass/screen.sass */
header.condensed #searchFormCond {
  padding-bottom: 0;
  padding-top: 0;
  text-align: right;
  width: 79%;
}
/* line 188, ../sass/screen.sass */
header.condensed #searchFormCond button {
  vertical-align: top;
  width: 10%;
}
/* line 192, ../sass/screen.sass */
header.condensed #positioncond {
  width: 50%;
}
/* line 195, ../sass/screen.sass */
header.condensed #wrap_citycond {
  background: url(../images/general_sprite.png) right -334px no-repeat;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  display: inline-block;
  height: 30px;
  margin: 0;
  overflow: hidden;
  vertical-align: top;
  width: 20%;
}
/* line 205, ../sass/screen.sass */
header.condensed #wrap_citycond:hover {
  background-position: right -382px;
}
/* line 208, ../sass/screen.sass */
header.condensed #wrap_citycond select {
  background: transparent;
  border: none;
  height: 100%;
  margin: 0;
  padding: 5px;
  width: 115%;
  -webkit-appearance: none;
}
/* line 218, ../sass/screen.sass */
header.condensed .col-xs-12.col-sm-6 {
  width: 100%;
}
/* line 221, ../sass/screen.sass */
header.condensed .col-xs-12.col-sm-6.text-right {
  height: 1px;
}
/* line 224, ../sass/screen.sass */
header.condensed #searchForm {
  display: none;
}
/* line 227, ../sass/screen.sass */
header.condensed .social {
  margin: -38px 0 0 auto;
  width: 60px;
}

/* line 231, ../sass/screen.sass */
#searchFormCond {
  background: transparent;
  display: none;
  padding: 17px 40px 17px 15px;
}

/* line 237, ../sass/screen.sass */
#busca-trabajo_brand img {
  max-width: 100%;
}
/* line 240, ../sass/screen.sass */
#busca-trabajo_brand h1 {
  display: none;
}

/* line 243, ../sass/screen.sass */
#who-tab {
  -moz-border-radius: 0 0 5px 5px;
  -webkit-border-radius: 0;
  border-radius: 0 0 5px 5px;
  display: inline-block;
  font-size: 12px;
  overflow: hidden;
  position: relative;
  text-align: center;
  top: -75px;
  width: 140px;
}
/* line 254, ../sass/screen.sass */
#who-tab a {
  background: #a6d05d;
  color: #ffffff;
  display: block;
  height: 100%;
  padding: 8px 16px;
}
/* line 261, ../sass/screen.sass */
#who-tab a:hover, #who-tab a:focus, #who-tab a:active {
  background: #90c238;
  text-decoration: none;
}

/* --------------- Adsense --------------- */
/* line 267, ../sass/screen.sass */
#adsense {
  padding-top: 60px;
  text-align: center;
  margin: 0 auto;
}

/* --------------- Footer --------------- */
/* line 274, ../sass/screen.sass */
footer {
  background: #316eab;
  color: #f9fcfa;
  font: 10px Verdana, sans-serif;
  margin: 20px 0 0;
  padding: 25px 10px;
  text-align: center;
}
/* line 282, ../sass/screen.sass */
footer p {
  margin: 0;
}
/* line 285, ../sass/screen.sass */
footer a {
  color: #61bb46;
}
/* line 288, ../sass/screen.sass */
footer a:hover {
  color: #81c96b;
}

/* line 292, ../sass/screen.sass */
#content_ofertas {
  display: none;
}

/* --------------- Job offer --------------- */
/* line 296, ../sass/screen.sass */
.offer {
  background: #f3f4f4;
  border: 1px solid #d1d1d1;
  padding: 18px 15px 10px;
  margin: 10px;
  width: 300px;
  position: relative;
}
/* line 304, ../sass/screen.sass */
.offer .social {
  margin: 0 0 11px;
  position: absolute;
  right: 0;
  text-align: left;
  top: 43px;
  z-index: 5;
}
/* line 312, ../sass/screen.sass */
.offer .social li {
  height: 20px;
  margin: 0 10px 0 0;
  width: 21px;
}
/* line 317, ../sass/screen.sass */
.offer .social li a {
  background-position: -75px -1px;
}
/* line 320, ../sass/screen.sass */
.offer .social li a:hover {
  background-position: -75px -49px;
}
/* line 324, ../sass/screen.sass */
.offer .social .twitter a {
  background-position: -116px -1px;
}
/* line 327, ../sass/screen.sass */
.offer .social .twitter a:hover {
  background-position: -116px -49px;
}
/* line 330, ../sass/screen.sass */
.offer a {
  color: #373837;
}
/* line 333, ../sass/screen.sass */
.offer a:hover {
  color: #505250;
}
/* line 336, ../sass/screen.sass */
.offer h3 {
  line-height: 1.2em;
  margin: -3px 60px 10px 0;
  min-height: 16px;
  padding: 0;
}
/* line 342, ../sass/screen.sass */
.offer h3 a {
  color: #316eab;
  display: block;
}
/* line 346, ../sass/screen.sass */
.offer h3 a span {
  font-size: 85%;
}
/* line 349, ../sass/screen.sass */
.offer h5 {
  bottom: 110px;
  color: #373837;
  font-size: 13px;
  margin-bottom: 5px;
  position: absolute;
  text-transform: uppercase;
}
/* line 358, ../sass/screen.sass */
.offer .date {
  display: block;
  padding: 0 0 20px;
  position: absolute;
  right: 0px;
  top: 12px;
}
/* line 365, ../sass/screen.sass */
.offer .date span {
  background: #a6d05d;
  -moz-border-radius: 5px 0 0 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px 0 0 5px;
  color: #fcfcfc;
  display: inline-block;
  font-size: 18px;
  letter-spacing: -0.04em;
  min-width: 70px;
  padding: 6px 10px;
  text-align: center;
  text-transform: uppercase;
}
/* line 378, ../sass/screen.sass */
.offer .date span .small {
  font-size: 13px;
  min-width: 1px;
  padding: 0;
}
/* line 385, ../sass/screen.sass */
.offer:hover h3 a, .offer:focus h3 a, .offer:active h3 a {
  color: #4587ca;
}

/* line 388, ../sass/screen.sass */
.sinopsis {
  min-height: 200px;
}
/* line 391, ../sass/screen.sass */
.sinopsis a {
  display: block;
}

/* line 394, ../sass/screen.sass */
.other {
  margin-top: 10px;
}
/* line 397, ../sass/screen.sass */
.other span {
  color: #64bc45;
  font-size: 10px;
  text-transform: uppercase;
}
/* line 403, ../sass/screen.sass */
.other a {
  display: block;
}

/* line 406, ../sass/screen.sass */
.offer.result {
  min-height: 1px;
  padding: 20px 30px;
}
/* line 411, ../sass/screen.sass */
.offer.result .decor {
  background: #dddddc;
  height: 95px;
  position: absolute;
  left: 0;
  top: 0;
  width: 1px;
}
/* line 419, ../sass/screen.sass */
.offer.result h3 {
  min-height: 1px;
}
/* line 422, ../sass/screen.sass */
.offer.result .sinopsis {
  max-width: 380px;
  min-height: 140px;
}
/* line 427, ../sass/screen.sass */
.offer.result .other {
  height: auto;
  position: static;
}
/* line 432, ../sass/screen.sass */
.offer.result .col-xs-12.col-sm-6 {
  margin: 10px 0 0;
  padding: 0 15px 0 50px;
}
/* line 436, ../sass/screen.sass */
.offer.result .col-xs-12.col-sm-6.first {
  padding: 0 50px 0 15px;
}
/* line 439, ../sass/screen.sass */
.offer.result .col-xs-12.col-sm-6.text-right {
  float: right;
}

/* line 442, ../sass/screen.sass */
a.ver_completo {
  background: url(../images/general_sprite.png) left -153px no-repeat;
  color: #316eab;
  display: block;
  font-size: 15px;
  padding: 4px 0 4px 20px;
  text-transform: uppercase;
}
/* line 451, ../sass/screen.sass */
a.ver_completo:hover, a.ver_completo:focus, a.ver_completo:active {
  color: #4587ca;
  text-decoration: none;
}

/* ****************** MODAL ************** */
/* line 457, ../sass/screen.sass */
.modal-header {
  border: none;
  padding: 20px 20px 15px;
}
/* line 461, ../sass/screen.sass */
.modal-header h4 {
  color: #316eab;
  font-size: 30px;
  line-height: 1em;
  padding: 20px 0 0;
}

/* line 469, ../sass/screen.sass */
.modal-body {
  font-size: 13px;
}
/* line 472, ../sass/screen.sass */
.modal-body a {
  color: #a6d05d;
}
/* line 475, ../sass/screen.sass */
.modal-body a:hover {
  color: #90c238;
}

/* line 478, ../sass/screen.sass */
#mint-button {
  background: #a6d05d url(../images/general_sprite.png) left -247px no-repeat;
  -moz-border-radius: 0 0 5px 0;
  -webkit-border-radius: 0;
  border-radius: 0 0 5px 0;
  color: #ffffff;
  display: inline-block;
  font-size: 16px;
  margin: 15px 0 5px;
  padding: 10px 15px 10px 40px;
}
/* line 488, ../sass/screen.sass */
#mint-button:hover {
  background-color: #9bca49;
}

@media screen and (max-width: 520px) {
  /* line 2, ../sass/responsive.sass */
  .modal-body {
    background: transparent;
    min-height: 1px;
    padding: 0 20px 20px;
  }
}
@media screen and (max-width: 767px) {
  /* line 10, ../sass/responsive.sass */
  body.home #main_content {
    top: 410px;
  }

  /* line 14, ../sass/responsive.sass */
  header .btn {
    margin: 15px 0 0;
  }

  /* line 17, ../sass/responsive.sass */
  #who-tab {
    top: -130px;
  }
}
@media screen and (max-width: 1023px) {
  /* line 22, ../sass/responsive.sass */
  header.condensed #wrap_citycond {
    width: 35%;
  }
  /* line 25, ../sass/responsive.sass */
  header.condensed #wrap_citycond select {
    width: 125%;
  }
  /* line 29, ../sass/responsive.sass */
  header.condensed #searchFormCond button {
    width: 19%;
  }
  /* line 32, ../sass/responsive.sass */
  header.condensed .social {
    margin: -31px 0 -7px auto;
  }
  /* line 36, ../sass/responsive.sass */
  header.condensed .btn {
    margin: 0;
  }
}
@media screen and (max-width: 767px) {
  /* line 42, ../sass/responsive.sass */
  .offer.result .col-xs-12.col-sm-6 {
    padding: 0 15px;
  }
  /* line 45, ../sass/responsive.sass */
  .offer.result .sinopsis {
    min-height: 1px;
    max-width: 100%;
  }
  /* line 49, ../sass/responsive.sass */
  .offer.result .decor {
    display: none;
  }
}
